fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9

# YOLO11 instance segmentation
ultralytics>=8.2.0

# Computer Vision
opencv-python>=4.9.0
numpy>=1.26.0
Pillow>=10.3.0

# HuggingFace Hub (để load model qua hf://)
huggingface-hub>=0.23.0
